* {
  margin: 0;
  margin-top: 5px;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;
}

.app__dropdown {
  background-color: white;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__left {
  flex: 0.9;
}

.app__information > h3 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
  margin-top: 1rem;
}
.appp{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 37px;
  height:100px;
  background-color: beige;
  font-weight: bolder;
  margin-left: 60px;
  margin-right: 60px;

}
.appp span{
  margin-left: 4px;
}
.appp #o{
  font-size: 40px;
}
.footer{
  background-color:rgb(196, 192, 192);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
 border-radius: 25px;
 border: 5px solid black;
  
  width: 90%;
}

.footer ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.footer ul a{
  text-decoration: none;
   padding-left: 5px;
   font-size: 23px;
   font-weight: bolder;
   color: white;
}
.footer ul li{
  display: flex;
  justify-content: space-between;
 align-items: center;
 padding: 38px;
}
.footer ul li:hover{
  background-color: rgb(146, 129, 129);
}


@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
  .appp{
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  
}
@media (max-width: 1215px) {
  .footer{
    height: 300px;
    width: 80%;
    border: 7px solid black;
  }
  .footer ul{
    display: flex;
   flex-direction: column;
    list-style: none;
  }
  .footer ul li{
    display: flex;
    justify-content: start;
   align-items: center;
   padding: 10px;
   padding-top: 2px;
  }
  .footer ul a{
    text-decoration: none;
     padding-left: 15px;
     font-size: 22px;
     font-weight: bolder;
     color: white;
  }
  
}